/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9d9d9;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #ea9fa2;
  padding: 10px 20px;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
}

/* MENU HAMBURGUER */
.menu-toggle {
  display: none;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1001;
  user-select: none;
}

.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
  padding-left: 0;
}

.nav-menu li a {
  text-decoration: none;
  color: #fdf1f1;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
}

.nav-menu li a:hover {
  color: #817575;
}

.nav-center img {
  height: 60px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ea9fa2;
    flex-direction: column;
    gap: 15px;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
    width: 180px;
    z-index: 1000;
  }

  .nav-menu.active {
    display: flex;
  }
}

/* Conteúdo */
.conteudo {
  margin-top: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.texto,
.imagem {
  flex: 1;
  padding: 0px;
}

.texto h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.texto p {
  font-size: 18px;
  color: #555;
}

.imagem img {
  width: 100%;
  height: auto;
  
}
