* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}


body {
  background-color: #c46a7e;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #c46a7e;
  padding: 10px 20px;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
}


.menu-toggle {
  display: none;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1001;
  user-select: none;
}

.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
  padding-left: 0;
}

.nav-menu li a {
  text-decoration: none;
  color: #fdf1f1;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
}

.nav-menu li a:hover {
  color: #530311;
}

.nav-center img {
  height: 60px;
}


@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #c46a7e;
    flex-direction: column;
    gap: 15px;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
    width: 180px;
    z-index: 1000;
  }

  .nav-menu.active {
    display: flex;
  }
}


.conteudo {
  margin-top: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.texto,
.imagem {
  flex: 1;
  padding: 0px;
}

.texto h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.texto p {
  font-size: 18px;
  color: #555;
}

.imagem img {
  width: 100%;
  height: auto;
}


.imagem-com-botao {
  position: relative;
  width: 100%;
}

.btn-sobreposta {
  position: absolute;
  top: 75%;
  left: 29%;
  transform: translate(-50%, -50%);
  background-color: #ce7b8b;
  color: #ffebf3;
  padding: 20px 40px;   
  font-size: 26px;         
  border-radius: 55px;
  text-decoration: none;
  font-weight: 600;
  z-index: 10;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}


.btn-sobreposta:hover {
  background-color: #843a4d;
}


@media (max-width: 768px) {
  .btn-sobreposta {
    top: 80%;        
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    padding: 10px 20px;
  }
}

#btnTopo {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffcad5;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
}

#btnTopo:hover {
  background-color: #843a4d;
}

.titulo-section {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin: 40px 0 20px;
  color: #ffcad5;
}


html {
  scroll-behavior: smooth;
}

#servicos {
  background-color: #c46a7e;
  padding: 60px 20px;
}

#Equipe {
  background-color: #ea9fa2;
  padding: 60px 20px;
}

.footer {
  background-color: #c46a7e;
  text-align: center;
  padding: 30px 20px 20px;
  color: #fff;
  margin-top: 40px;
}

.footer-icons {
  margin-bottom: 20px;
}

.footer-icon {
  width: 32px;
  height: 32px;
  margin: 0 15px;
  transition: transform 0.3s ease;
}

.footer-icon:hover {
  transform: scale(1.2);
}

.footer-line {
  border: none;
  border-top: 1px solid #fff;
  margin: 20px auto;
  width: 80%;
}

.footer-copy {
  font-size: 14px;
  color: #fdf1f1;
}

.secao-imagem {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.secao-imagem img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.texto-sobreposto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 10;
}

@media (max-width: 768px) {
  .secao-imagem {
    height: auto;
  }

  .secao-imagem img {
    height: auto;
  }

  .texto-sobreposto {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 14px;
  }

  .texto-sobreposto h2 {
    font-size: 18px;
  }

  .btn-sobreposta {
    font-size: 12px;
    padding: 10px 20px;
    top: 75%;
    left: 50%;
  }
}

.secao-servicos {
  background-image: url('../Img/2.png'); /* Ajuste o caminho conforme sua estrutura */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b54762;
  position: relative;
  text-align: center;
  padding: 40px 20px;
  box-sizing: border-box;
  height: 98vh; /* 90% da altura da tela */
}


.conteudo-servicos {
  background-color: rgba(221, 252, 255, 0.5); 
  padding: 40px;
  border-radius: 10px;
  max-width: 900px;
  width: 100%;
}


.titulo-servicos {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.galeria-servicos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.galeria-servicos img {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
  .titulo-servicos {
    font-size: 24px;
  }

   .conteudo-servicos {
    padding: 15px;
    transform: translateY(-40px); /* sobe a box */
  }

  .galeria-servicos img {
    width: 80px;
  }

  .secao-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* cola no topo */
    padding-top: 40px; /* ajusta se quiser um espacinho */
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #000000;
  }
}



.secao-dicas {
  background-image: url('../Img/4.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b54762;
  position: relative;
  text-align: center;
  padding: 40px 20px;
  box-sizing: border-box;
  height: 98vh; /* 90% da altura da tela */


}

.conteudo-dicas {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7); /* transparência */
  padding: 20px;
  border-radius: 10px;
}


.titulo-dicas {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 2px 2px 6px rgba(142, 47, 64, 0.6);
}

.galeria-dicas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.galeria-dicas img {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .titulo-dicas {
    font-size: 24px;
  }

  .conteudo-dicas {
    padding: 20px;
    margin-top: auto; /* Faz com que a box fique mais acima da imagem */
  }

  .galeria-dicas img {
    width: 100px;
  }

.secao-dicas {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #c46b7f;
  height: 100vh; /* <-- Isso faz a imagem aparecer inteira, e a box ficar acima */
  display: flex;
  align-items: flex-end; /* Faz a box "subir" um pouco */
  justify-content: center;
  padding-bottom: 550px; /* Dá um espaço da base */
}

}


.secao-sobre {
  background-image: url('../Img/3.png'); /* Caminho da imagem de fundo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b54762;
  position: relative;
  text-align: center;
  padding: 40px 20px;
  box-sizing: border-box;
  height: 98vh; /* 90% da altura da tela */
}


.conteudo-sobre {
  background-color: rgba(221, 252, 255, 0.5);
  padding: 40px;
  border-radius: 10px;
  max-width: 900px;
  width: 100%;
}

.titulo-sobre {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.galeria-sobre {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.galeria-sobre img {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .titulo-sobre {
    font-size: 24px;
  }

  .conteudo-sobre {
    padding: 20px;
  }

  .galeria-sobre img {
    width: 100px;
  }

  .secao-sobre {
    background-size: contain; /* ou 'cover', se preferir */
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #f7b9b9; /* opcional, se sua imagem não cobrir tudo */
    height: auto; /* ou ajuste conforme sua necessidade, tipo 70vh */
  }
}


